In [1]:
import pandas as pd
from steps import data_ingestion as di
from steps import data_transformation as dt
from steps import model_training as mt

In [16]:
import mlflow
from mlflow import MlflowClient

In [7]:
file_path = 'C:/Users/USER/Desktop/python project/MLFLOW/Real Loan Application/data/Applicant-details.csv'

# get file
df = di.data_ingest(file_path)

df.head()

,Applicant_ID,Annual_Income,Applicant_Age,Work_Experience,Marital_Status,House_Ownership,Vehicle_Ownership(car),Occupation,Residence_City,Residence_State,Years_in_Current_Employment,Years_in_Current_Residence,Loan_Default_Risk
0,75722,9657655,76,0,single,rented,no,Psychologist,Jalandhar,Punjab,0,12,0
1,80185,9259353,37,18,single,rented,no,Petroleum_Engineer,Bally,West_Bengal,12,11,0
2,19865,1509721,66,8,single,rented,no,Drafter,Indore,Madhya_Pradesh,4,12,0
3,76700,5867312,43,1,single,owned,no,Chartered_Accountant,Kurnool[18],Andhra_Pradesh,1,13,1
4,92992,7223191,44,9,single,rented,no,Air_traffic_controller,Asansol,West_Bengal,9,13,0

In [8]:
# cleanup the file
X_train, y_train, X_test, y_test = dt.cleaning_train_pipeline(df)

In [10]:
params = {
    'max_iter': 100,
    'class_weight': 'balanced'
}

In [11]:
# train the model

model, score_train, score_valid, signature = mt.train_model(X_train, y_train, X_test, y_test, params)

In [13]:
score_valid

0.4832869080779944

In [15]:
signature

inputs:
  [Tensor('float64', (-1, 11))]
outputs:
  [Tensor('int64', (-1,))]

In [18]:
# set up mlflow client

client = MlflowClient(tracking_uri="http://127.0.0.1:5000")

In [19]:
# MLFLOW SETUP

# CREATING EXPERIMENT


# Provide an Experiment description that will appear in the UI
experiment_description = (
    "This is the application loan prediction project "
    "This experiment contains the models for loan application"
    "Also this experiment is for learning purpose"
)


# Provide searchable tags that define characteristics of the Runs that
# will be in this Experiment
experiment_tags = {
    "project_name": "loan_application_project",
    "team": "syamil",
    "project_quarter": "Q3-2024",
    "mlflow.note.content": experiment_description,
}

# Create the Experiment, providing a unique name
produce_apples_experiment = client.create_experiment(
    name="Loan_Application_Models", tags=experiment_tags
)